.loginform{
    text-align: center;
    margin:auto;
    margin-top:100px;
    height: 60%;
    width: 30%;
    background-color: rgb(200, 215, 244);
}
mat-form-field {
    padding: 10px;
    width: 90%;
}
mat-raised-button {
    width: 80%;
}
.loginPage{
    height: 100%;
    background-image: url("../../assets/Images/background-solid.jpg");
    background-size: cover;
}