<div class="ownerLoginPage">
<h2>welcome To The Owner Page</h2>

<button mat-raised-button color="primary" (click)="back()">Back</button>
<button mat-raised-button color="accent" routerLink="/owner/newHotelRegistration">Hotel Registration</button>
<button mat-raised-button color="primary" (click)="viewHotels()">View All Hotels</button>
<button mat-raised-button color="warn" (click)="viewMyHotels()">View My Hotels</button>

  <div *ngIf="this.hotelDetailsByOwner.length !=0">
 <table class="table"   >
  <thead >
    <tr>
      <th *ngFor="let heading of headings"  scope="col">{{heading}}</th>
      <th *ngIf="endPoint=='owner'">Delete</th>
      <th *ngIf="endPoint=='owner'">Edit</th>
   </tr>
  </thead>
  <tbody>
    <tr class="table-primary" *ngFor="let hotelData of this.hotelDetailsByOwner">
      
      <td class="table-primary">{{hotelData.hotelName}}</td>
      <td class="table-secondary" >{{hotelData.ownerName}}</td>
      <td class="table-success" >{{hotelData.hotelContactNo}}</td>
      <td class="table-warning">{{hotelData.hotelAddress}}</td>
      <td class="table-primary" >{{hotelData.hotelEmail}}</td>
      <td class="table-success">{{hotelData.totalRooms}}</td>
      <td class="table-warning" >{{hotelData.speciality}}</td>
      <td *ngIf="endPoint=='owner'"  > <i class="material-icons" (click)="delete(hotelData.id)">delete</i></td>
      <td  *ngIf="endPoint=='owner'" > <i class="material-icons" (click)="editJourney(hotelData.id)">edit</i></td>

    </tr>
  </tbody>
</table>
</div>
</div>


  
   